@model Actor

@{
    ViewData["Title"] = "Details";
}

<div class="row text">
    <div class="col-md-8 offset-md-2">
        <h1>Details for @Model.FullName</h1>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="mb-3 text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px; max-height: 150px;" id="ProfilePicturePreview" />
                </div>

                <div class="mb-3">
                    <label asp-for="ProfilePictureURL" class="form-label"></label>
                    <input asp-for="ProfilePictureURL" class="form-control" readonly />
                    <span asp-validation-for="ProfilePictureURL" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="FullName" class="form-label"></label>
                    <input asp-for="FullName" class="form-control" readonly />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Bio" class="form-label"></label>
                    <input asp-for="Bio" class="form-control" readonly />
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    @if (User.Identity!.IsAuthenticated && User.IsInRole(UserRoles.Admin))
                    {
                        <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    }
                    <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('ProfilePicturePreview');
            output.src = $("#ProfilePictureURL").val();
        })
    </script>
}