@model Cinema

@{
    ViewData["Title"] = "Delete cinema";
}

<div class="row text">
    <div class="col-md-8 offset-md-2">
        <h1>Delete confimation for @Model.Name</h1>

        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="mb-3 text-center">
                    <img class="border-info rounded-circle" style="max-width: 150px; max-height: 150px;" id="CinemaLogoPreview" />
                </div>

                <div class="mb-3">
                    <label asp-for="Logo" class="form-label"></label>
                    <input asp-for="Logo" class="form-control" readonly />
                    <span asp-validation-for="Logo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control" readonly />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label"></label>
                    <input asp-for="Description" class="form-control" readonly />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="row mb-3">
                    <div class="col-auto">
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="Id" />
                            <input type="submit" value="Confirm" class="btn btn-danger" />
                        </form>
                    </div>
                    <div class="col">
                        <a class="btn btn-outline-secondary" asp-action="Index">Show all</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var output = document.getElementById('CinemaLogoPreview');
            output.src = $("#Logo").val();
        })
    </script>
}